@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-surface: #0A0A0F;
    --color-card:    #111118;
    --color-border:  #1A1A28;
    --color-accent:  #8B5CF6;
  }

  * {
    box-sizing: border-box;
  }

  body {
    background-color: var(--color-surface);
    color: #F9FAFB;
  }

  ::-webkit-scrollbar       { width: 6px; height: 6px; }
  ::-webkit-scrollbar-track { background: var(--color-surface); }
  ::-webkit-scrollbar-thumb { background: #30363d; border-radius: 3px; }
}
